.features {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 120px 0;
}
.features-title {
  display: none;
  text-align: center;
  margin-bottom: 72px;
}
.features-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
}
.features-items {
}
.ftrs-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.ftrs-txt {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
